.show-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin-right: 0.5rem;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.show-btn:hover {
  background: #0056b3;
}
.edit-btn {
  background: #3ab46d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin-right: 0.5rem;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.edit-btn:hover {
  background: #2c8d54;
}

.answer {
  margin-top: 0.5rem;
  background: #e6ffe6;
  border-left: 5px solid #28a745;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 600;
  color: #155724;
}

li{
  list-style: none;
}
