.navbar {
  background: #222;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: white;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-links a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    margin-top: 0.5rem;
  }
}
